* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "Old Standard TT", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 23px;

	color: rgb(27, 38, 49);

	background-image: url("/img/background.png");
}

p {
	text-indent: 1.5em;
	text-align: justify
}

a {
	text-decoration: none;
	color: rgb(40, 116, 166);
}


