h1 {
	font-size: 2em;
	font-weight: 700;
}

h2 {
	text-align: center;
	font-size: 1.25em;
}

h3 {
	font-size: 1.1em;
}

hgroup {
	border-left-style: solid;
	border-left-width: 3px;
	padding: 0 0 0 10px;
	border-radius: 10px;
	border-color: rgb(40, 116, 166);
}

hgroup p{
	font-size: 0.85;
	font-weight: 700;
	text-indent: 0;
}



